.section.improveSkills{
  .col.img{
    img{
      width: 100%;

    }
  }
  .col.typography{
padding-left: 1em;

.skill-item{
  border-left: .2em solid var(--primary-color);
  margin-bottom: .5em;
  padding: .1em 0 .2em .5em;
  color: var(--text-light);
  font-weight: bold;
  transform: translateX(20%);
  opacity: 0;
  animation: getAnimationDuration(.6s) slideIn forwards;
  @for $i from 2 to 8 {
    &:nth-child(#{$i}){
      animation-delay:#{$i * .15}s;
    }
    
  }
}
.btn{
  margin-top: 1em;
}
  }
}